<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Our website</title>
</head>
<body>
    <div class="container">
        {%  include 'navbar.html' %}
        <h1>THis is our official website</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi harum sint esse quisquam corrupti dolorem nobis sapiente molestias at ratione odit voluptate inventore perspiciatis sed est in recusandae animi officia, facilis tempora rem et. Nisi, provident! Inventore totam accusamus omnis? Rem minus aspernatur, velit eum ex perferendis quia voluptatibus ad?</p>
        <button>Contact us!</button>
    </div>
</body>
</html>